<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your id : <%= comment.id %></h1>
    <h1><%= comment.comment%> - <%= comment.username%></h1>
    <a href="/comments">BASE INDEX</a>
    <a href="/comments/<%= comment.id %>/edit">EDIT</a>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</body>
</html>